@model WebApp.ViewModels.RaffleResultCreateEditViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="RaffleResult.RaffleId" class="control-label"></label>
    <select asp-for="RaffleResult.RaffleId" class="form-control" asp-items="Model.Raffles"></select>
    <span asp-validation-for="RaffleResult.RaffleId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RaffleResult.UserId" class="control-label"></label>
    <select asp-for="RaffleResult.UserId" class="form-control" asp-items="Model.Users"></select>
    <span asp-validation-for="RaffleResult.UserId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RaffleResult.AnonymousUserName" class="control-label"></label>
    <input asp-for="RaffleResult.AnonymousUserName" class="form-control" />
    <span asp-validation-for="RaffleResult.AnonymousUserName" class="text-danger"></span>
</div>