@model RecipeApp.Application.DTO.IngredientType
@using CommonResource = RecipeApp.Resources.Common
@using IngredientTypeResource = RecipeApp.Resources.Entities.IngredientType;

@{
    ViewData["Title"] = "Create";
}

<h1>@CommonResource.CreateTitle</h1>

<h4>@IngredientTypeResource.IngredientTypeSingular</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_CreateEdit" model="Model"/>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary">
                    @CommonResource.CreateButton
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@CommonResource.BackToListLink</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}