@model RecipeApp.ViewModels.RecipeCategoryCreateEditViewModel
@using AppResource = App.Resources.App.BLL.DTO

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="RecipeCategory.RecipeId" class="control-label"></label>
    <select asp-for="RecipeCategory.RecipeId" class="form-control" asp-items="Model.RecipeSelectList">
        <option disabled selected value="">-- @AppResource.Recipe.SelectRecipe --</option>
    </select>
    <span asp-validation-for="RecipeCategory.RecipeId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RecipeCategory.CategoryId" class="control-label"></label>
    <select asp-for="RecipeCategory.CategoryId" class="form-control" asp-items="Model.CategorySelectList">
        <option disabled selected value="">-- @AppResource.Category.SelectCategory --</option>
    </select>
    <span asp-validation-for="RecipeCategory.CategoryId" class="text-danger"></span>
</div>