@model RecipeApp.Web.ViewModels.RecipeCategoryCreateEditViewModel
@using CommonResource = RecipeApp.Resources.Common
@using RecipeCategoryResource = RecipeApp.Resources.Entities.RecipeCategory;

@{
    ViewData["Title"] = "Edit";
}

<h1>@CommonResource.EditTitle</h1>

<h4>@RecipeCategoryResource.RecipeCategorySingular</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <partial name="_CreateEdit" model="Model"/>
            <input type="hidden" asp-for="RecipeCategory.Id"/>
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-primary">
                    @CommonResource.SaveButton
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@CommonResource.BackToListLink</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}