@model RecipeApp.Areas.Admin.ViewModels.RecipeCreateEditViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="RecipeRequest.Title" class="control-label"></label>
    <input asp-for="RecipeRequest.Title" class="form-control"/>
    <span asp-validation-for="RecipeRequest.Title" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RecipeRequest.Description" class="control-label"></label>
    <input asp-for="RecipeRequest.Description" class="form-control"/>
    <span asp-validation-for="RecipeRequest.Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RecipeImage" class="control-label"></label>
    <input asp-for="RecipeImage" class="form-control"/>
    <span asp-validation-for="RecipeImage" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RecipeRequest.Instructions" class="control-label"></label>
    <input asp-for="RecipeRequest.Instructions" class="form-control"/>
    <span asp-validation-for="RecipeRequest.Instructions" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RecipeRequest.PreparationTime" class="control-label"></label>
    <input asp-for="RecipeRequest.PreparationTime" class="form-control"/>
    <span asp-validation-for="RecipeRequest.PreparationTime" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RecipeRequest.CookingTime" class="control-label"></label>
    <input asp-for="RecipeRequest.CookingTime" class="form-control"/>
    <span asp-validation-for="RecipeRequest.CookingTime" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RecipeRequest.Servings" class="control-label"></label>
    <input asp-for="RecipeRequest.Servings" class="form-control"/>
    <span asp-validation-for="RecipeRequest.Servings" class="text-danger"></span>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="RecipeRequest.IsVegetarian"/> @Html.DisplayNameFor(model => model.RecipeRequest.IsVegetarian)
    </label>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="RecipeRequest.IsVegan"/> @Html.DisplayNameFor(model => model.RecipeRequest.IsVegan)
    </label>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="RecipeRequest.IsGlutenFree"/> @Html.DisplayNameFor(model => model.RecipeRequest.IsGlutenFree)
    </label>
</div>
