@model RecipeApp.ViewModels.RecipeCreateEditViewModel
@using RecipeResource = App.Resources.App.BLL.DTO.Recipe
@using CommonResource = Base.Resources.Common

@{
    ViewData["Title"] = "Edit";
}

<h1>@CommonResource.EditTitle</h1>

<h4>@RecipeResource.RecipeSingular</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <partial name="_CreateEdit" model="Model"/>
            <input type="hidden" asp-for="RecipeRequest.Id"/>
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-primary">
                    @CommonResource.SaveButton
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@CommonResource.BackToListLink</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/recipeInstructionSteps.js"></script>
    <script src="~/js/imageFileDisplay.js"></script>
}