html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Styles for the 5-star rating system */
.rating-group {
    display: inline-flex;
}

.rating__icon {
    pointer-events: none;
}

.rating__input {
    position: absolute !important;
    left: -9999px !important;
}

.rating__label {
    cursor: pointer;
    /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
    padding: 0 0.1em;
    font-size: 2rem;
}

.rating__label--half {
    padding-right: 0;
    margin-right: -0.6em;
    z-index: 2;
}

.rating__icon--star {
    color: orange;
}

.rating__icon--none {
    color: #eee;
}

.rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
}

.rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
}

.rating-group:hover .rating__label .rating__icon--star,
.rating-group:hover .rating__label--half .rating__icon--star {
    color: orange;
}

.rating__input:hover ~ .rating__label .rating__icon--star,
.rating__input:hover ~ .rating__label--half .rating__icon--star {
    color: #ddd;
}

.rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
    color: #eee;
}

.rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
}

/* End of 5-star rating system styles */
